<div class="start_btn" (click)="startQuiz()" [ngClass]="{'hide': showStartQuiz}">
    <button>Start Quiz</button>
</div>

<div class="info_box" [ngClass]="{'hide': continueQuiz}">
    <div class="info-title"><span>Some Rules of this Quiz</span></div>
    <div class="info-list">
        <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
        <div class="info">2. Once you select your answer, it can't be undone.</div>
        <div class="info">3. You can't select any option once time goes off.</div>
        <div class="info">4. You can't exit from the Quiz while you're playing.</div>
        <div class="info">5. You'll get points on the basis of your correct answers.</div>
    </div>
    <div class="buttons">
        <button class="quit" (click)="exitQuiz()">Exit Quiz</button>
        <button class="restart" (click)="continueTheQuiz()">Continue</button>
    </div>
</div>


<div class="quiz_box" [ngClass]="{'hide': showQuizBox}">
    <header>
        <div class="title">Awesome Quiz Application</div>
        <div class="timer">
            <div class="time_left_txt">Time Left</div>
            <div class="timer_sec">{{showTimer}}</div>
        </div>
        <div class="time_line" [style.width]="timelineWidth + '%'"></div>
    </header>
    <section *ngFor="let question of questions; let i = index" [hidden]="i !== currentQuestionIndex"  [class]="'a-' + i"
     #questionSection> 
     <!-- [class]="'question-section-' + i"  -->
        <div class="que_text">
            <span>{{question.numb}}. {{question.question}} </span>
        </div>
        <div class="option_list">
            <div class="option" (click)="selectAnswer($event, question, questionSection)" *ngFor="let option of question.options">
                <span>{{option}}</span>
                <div class="icon"><i class="fas"></i></div>
            </div>
        </div>
    </section>
    
    <!-- footer of Quiz Box -->
    <footer>
        <div class="total_que">
            <span><p>{{questionCount}}</p> of <p>{{questions.length}}</p> Questions</span>
        </div>
        {{showflag}}
        <button class="next_btn"  [ngClass]="{'show': showflag}" (click)="next()">Next Que</button>
        <!-- [class.show]="showflag" -->
    </footer>
</div>


<div class="result_box" [ngClass]="{'show': showResultBox}">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="complete_text">You've completed the Quiz!</div>
    <div class="score_text"> 
        <span>and sorry, You got only <p>2</p> out of <p>5</p></span>
    </div>
    <div class="buttons">
        <button class="restart" (click)="replayQuiz()">Replay Quiz</button>
        <button class="quit">Quit Quiz</button>
    </div>
</div>

 <!-- https://magenta-wisp-8f7045.netlify.app/
 https://rocoderes.com/how-to-make-a-quiz-app-with-javascript-html-css/ -->
