<div class="currency__wrapper">
  <div class="currency__show-result">
    <p>Final Result</p>
    <h1>{{showSymbol}}{{showResult}}</h1>
  </div>
    <div class="currency__row">
      <label>Amount</label>
      <input nz-input placeholder="Enter amount" [(ngModel)]="amount" type="number" />
    </div>
    <div class="currency__row flex">
      <div class="currency__row-item">
      <label>From: </label>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="select code" [(ngModel)]="fromCurrency" >
          <nz-option *ngFor="let country of currencyData" nzCustomContent nzLabel="{{country.Code}}" nzValue="{{country.Code}}">
            <img [src]="country.Flag" class="currency__row-item-img"/> {{country.Code}}
          </nz-option>
        </nz-select>
      </div>
      <span class="currency__bidirectional" nz-icon nzType="column-width" nzTheme="outline" (click)="changeCurrency()"></span>
      <div class="currency__row-item">
      <label>To: </label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="select code" [(ngModel)]="toCurrency" >
            <nz-option *ngFor="let country of currencyData" nzCustomContent nzLabel="{{country.Code}}" nzValue="{{country.Code}}">
              <img [src]="country.Flag" class="currency__row-item-img"/> {{country.Code}}
            </nz-option>
            <!-- <nz-option nzCustomContent nzLabel="Mac" nzValue="mac">
              <span nz-icon nzType="apple"></span>
              Mac
            </nz-option> -->
          </nz-select>
      </div>
    </div>

    <div class="currency__row currency__convert">
    <button nz-button nzType="primary" (click)="convert()">CONVERT</button>
    </div>
</div>
