<div class="pwd-generator__wrapper">
   
<h2>Password Generator</h2>
<label>Enter Password Length</label>
<input type="text" nz-input [(ngModel)]="passwordLength" (ngModelChange)="pwdLength(passwordLength)"/>
<div class="pwd-generator__check">
    <label nz-checkbox [(ngModel)]="numberCheck">Number</label>
    <label nz-checkbox [(ngModel)]="letterCheck">Letter</label>
    <label nz-checkbox [(ngModel)]="symbolCheck">Symbol</label>
</div>
<button nz-button class="pwd-generator__generate-btn" (click)="generate()" [disabled]="!numberCheck && !letterCheck && !symbolCheck">Generate</button>
<nz-input-group [nzSuffix]="suffixTemplate">
 <input [type]="passwordVisible ? 'text' : 'password'" nz-input [value]="password"/> <!--inputmode="numeric" -->
 </nz-input-group>
 <ng-template #suffixTemplate>
<span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" nzTheme="fill" (click)="passwordVisible = !passwordVisible"></span>
</ng-template>

</div>

<!-- https://stackblitz.com/edit/angular-passwordgenerator?file=src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.component.ts -->
<!-- Array(10).fill("0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~!@-#$").map(function(x) { return x[Math.floor(Math.random() * x.length)] }).join(''); -->
<!-- https://stackblitz.com/edit/web-platform-robs3z?file=index.html -->